.wrapper {
  width: 90%;
  height: 90%;
  max-height: 90rem;
  background-color: white;
  margin: auto;
  padding: 1rem;
  position: relative;
  overflow: auto;
  padding: 5rem 0;
}

.wrapper .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.wrapper .about .heading {
  color: #121212;
  font-size: 2rem;
}

.wrapper .about .heading::after {
  content: "";
  display: block;
  height: 0.3rem;
  background-color: #16ba95;
  margin-top: 1rem;
}

.wrapper .about .intro {
  color: #121212;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper .about .intro .description {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 2rem 0 2rem;
}

.wrapper .about .intro .description .title {
  font-size: 2rem;
}

.wrapper .about .intro .description .title span {
  color: #16ba95;
}

.wrapper .about .intro .description .details {
  font-size: 1.6rem;
  color: #525468;
  line-height: 3rem;
  margin-top: 2rem;
}

.wrapper .about .intro .description .details p:first-child {
  margin-bottom: 1rem;
}

.wrapper .about .intro .form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .about .intro .form div {
  border-bottom: 0.1rem solid #eeeeee;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.wrapper .about .intro .form div span:first-child {
  font-weight: 600;
  margin-right: 1rem;
}

.wrapper .about .intro .form div span:last-child {
  color: #525468;
}

.wrapper .about .intro .form button {
  background-color: #16ba95;
  border: none;
  font-size: 1.8rem;
  padding: 1rem 0;
  color: white;
  border-radius: 2.4rem;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .about .intro .form button i {
  margin-right: 1rem;
}

.wrapper .about .intro .form button:hover {
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.wrapper .borderRight {
  position: absolute;
  width: 10rem;
  height: 5rem;
  border-top: 0.3rem solid #16ba95;
  border-right: 0.3rem solid #16ba95;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  font-size: 2rem;
}

.wrapper .borderRight a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .borderRight a:hover {
  color: red;
}

.wrapper .borderLeft {
  position: absolute;
  width: 10rem;
  height: 5rem;
  border-top: 0.3rem solid #16ba95;
  border-left: 0.3rem solid #16ba95;
  top: 1rem;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  font-size: 2rem;
}

.wrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.wrapper::-webkit-scrollbar-track {
  background: #f7f7f7;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #16ba95;
  border-radius: 5px !important;
}

@media screen and (max-width: 1024px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .intro .form {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=About.module.css.map */