$bgColor: #172024;
$wrapperColor: #525468;
$themeColor: rgb(22, 186, 149);
$bodyText: #525468;

.wrapper {
  width: 90%;
  height: 90%;
  max-height: 90rem;
  background-color: white;
  margin: auto;
  padding: 1rem;
  position: relative;
  overflow: auto;
  padding: 5rem 2rem 2rem 2rem;
  .innerWrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 100%;
    // background-color: red;
    overflow: auto;
    position: relative;
    .heading {
      color: #121212;
      font-size: 2rem;
      &::after {
        content: "";
        display: block;
        height: 0.3rem;
        background-color: $themeColor;
        margin-top: 0.3rem;
      }
    }
    .caption {
      position: absolute;
      color: #eeeeee;
      font-size: 5rem;
      text-transform: uppercase;
      top: -2rem;
      z-index: -1;
      opacity: 0.5;
      font-weight: 600;
    }
    .children {
      color: #121212;
      padding: 5rem 0 1rem 0;
      width: 100%;
      height: 100%;
      font-size: 2rem;
    }
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background: #f7f7f7;
    }
    &::-webkit-scrollbar-thumb {
      background: $themeColor;
      border-radius: 5px !important;
    }
  }
  .borderRight {
    position: absolute;
    width: 10rem;
    height: 5rem;
    // background-color: black;
    border-top: 0.3rem solid $themeColor;
    border-right: 0.3rem solid $themeColor;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 2rem;
    a {
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: red;
      }
    }
  }
  .borderLeft {
    position: absolute;
    width: 10rem;
    height: 5rem;
    // background-color: black;
    border-top: 0.3rem solid $themeColor;
    border-left: 0.3rem solid $themeColor;
    top: 1rem;
    left: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    flex-direction: column;
    align-items: flex-start !important;
    .form {
      margin-top: 2rem;
    }
  }
}
