.nav {
  width: 250px;
  min-height: 100vh;
  background-color: #172024;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

.profile .imgWrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.profile .imgWrapper img {
  width: 15rem;
  height: 15rem;
  border: 0.5rem solid #525468;
  border-radius: 50%;
}

.profile h1 {
  color: white;
}

.ul {
  list-style: none;
  color: white;
}

.ul li {
  margin-bottom: 3rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.ul li i {
  color: #525468;
  text-align: left;
  position: absolute;
  width: 2rem;
  left: -3.5rem;
  top: 0.8rem;
}

.ul li:hover {
  color: #16ba95;
}

.ul li:hover a {
  margin-left: 0.1rem;
}

.ul li:hover i {
  color: #525468;
}

.ul a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
}

.bars {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: initial;
    height: 7rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    z-index: 100000;
    padding: 2rem 4rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
  }
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 !important;
    width: 30rem;
    margin-bottom: 2rem;
  }
  .profile .imgWrapper {
    display: none;
  }
  .profile h1 {
    color: white;
    width: 100%;
  }
  .ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ul li i {
    display: none;
  }
  .bars {
    display: block;
    color: white;
    position: absolute;
    right: 3rem;
    top: 2.7rem;
    cursor: pointer;
  }
}
/*# sourceMappingURL=Nav.module.css.map */