$bgColor: #172024;
$wrapperColor: #525468;
$themeColor: rgb(22, 186, 149);

.nav {
  width: 250px;
  min-height: 100vh;
  background-color: $bgColor;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  .imgWrapper {
    width: 100%;
    height: fit-content;
    img {
      width: 15rem;
      height: 15rem;
      border: 0.5rem solid $wrapperColor;
      border-radius: 50%;
    }
  }
  h1 {
    color: white;
  }
}
.ul {
  list-style: none;
  color: white;
  li {
    margin-bottom: 3rem;
    // text-align: center;
    color: white;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
    i {
      color: $wrapperColor;
      text-align: left;
      position: absolute;
      width: 2rem;
      // background-color: red;
      left: -3.5rem;
      top: 0.8rem;
    }
    &:hover {
      color: $themeColor;
      a {
        margin-left: 0.1rem;
      }
      i {
        color: $wrapperColor;
      }
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
  }
}
.bars {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav {
    width: 100%;
    flex-direction: column;
    min-height: initial;
    height: 7rem;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 100000;
    padding: 2rem 4rem;
    transition: 0.5s;
    overflow: hidden;
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 !important;
    // background-color: yellow;
    width: 30rem;
    margin-bottom: 2rem;
    .imgWrapper {
      display: none;
    }
    h1 {
      color: white;
      width: 100%;
    }
  }
  .ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    li {
      i {
        display: none;
      }
    }
  }
  .bars {
    display: block;
    color: white;
    position: absolute;
    right: 3rem;
    top: 2.7rem;
    cursor: pointer;
  }
}
