$wrapperColor: #525468;
$themeColor: rgb(22, 186, 149);
$bodyText: #525468;

.contentWrapper {
  width: 100%;
  //   background-color: yellow;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  .content {
    font-size: 1.8rem;
    .type {
      margin-bottom: 1rem;
      color: rgba($color: #000000, $alpha: 0.5);
      font-weight: 500;
      &::after {
        content: "";
        height: 0.2rem;
        width: 2rem;
        background-color: $themeColor;
        display: block;
      }
    }
    .description {
      margin-top: 3rem;
      //   background-color: red;
      border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
      padding-left: 1rem;
      &:nth-child(1) {
        margin-top: 0;
        background-color: red !important;
      }
      span {
        background-color: $themeColor;
        color: white;
        padding: 0.2rem 1.5rem;
      }
      h6 {
        margin: 1rem 0;
        font-size: 1.8rem;
        a {
          text-decoration: none;
          color: #000000;
          transition: 0.3s;
          &:hover {
            color: rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
  .education {
    // background-color: #525468;
  }
  .courses {
    grid-column: 3/4;
    grid-row: 1/4;
  }
}
